.navbar-color {
  background-color: #4a596c;
  padding-top: 10px;
  height: 3rem;
  width: 100%;

  a {
    text-decoration: none;
    color: #fff;
  }
  .container-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .container-navs {
      display: flex;
      margin-left: 5rem;
      gap: 5rem;
      @media (max-width: 700px) {
        display: flex;
        width: 100%;
        margin-left: 1rem;
      }
    }
    .back {
      margin-right: 1rem;
    }
  }
}
